@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}


/* Pastikan swal nested modal punya z-index lebih tinggi */
.swal2-container {
  z-index: 10000 !important; /* default popup utama */
}

.swal2-container.nested-swal {
  z-index: 20000 !important; /* popup nested (lokasi dayah) */
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(-10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}

.animate-fadeInOut {
  animation: fadeInOut 3s ease forwards;
}


/* 🔹 Utility untuk sembunyikan scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}
